{% extends 'base.html' %} {% block content %}

<main class="container">
    <div class="row">
        <div class="mt-2">
            <h1>Analizar Imagen</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning">Subir imagen</button>
            </form>
            {% if prediction %}
            <p class="font-monospace mt-3"><strong>{{ prediction }}</strong></p>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}