{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <h1>Historial de Análisis</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Historial Clínico</th>
                    <th>Usuario</th>
                    <th>Enfermedad</th>
                    <th>Nombre de la Imagen</th>
                    <th>Resultado</th>
                    <th>Fecha de Creación</th>
                </tr>
            </thead>
            <tbody>
                {% for analisis_record in analisis %}
                <tr>
                    <td>{{ analisis_record.historial_clinico.paciente.nombre }}</td>
                    <td>{{ analisis_record.historial_clinico.usuario.username }}</td>
                    <td>{{ analisis_record.enfermedad.nombre }}</td>
                    <td>{{ analisis_record.nombre_imagen }}</td>
                    <td>{{ analisis_record.resultado }}</td>
                    <td>{{ analisis_record.fecha_creacion|date:"d-m-Y H:i" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not analisis %}
        <p>No hay registros en el historial de análisis.</p>
        {% endif %}
    </div>
</main>

{% endblock %}