{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body text-center">
    <h1>Home</h1>
    <p>Esta investigación se centra en la aplicación de técnicas de aprendizaje automático, específicamente en las redes
      neuronales convolucionales (CNN), para detectar y clasificar el melasma epidérmico.
      El melasma es una afección dermatológica, que causa manchas marrones en la piel, especialmente en la cara. Su
      detección y clasificación temprana son esenciales para un tratamiento efectivo.
      Las redes neuronales convolucionales son una clase de red neuronal artificial, que se ha demostrado ser efectiva
      en el análisis de imágenes, lo que las hace potencialmente útiles para este tipo de tarea de detección y
      clasificación.
    </p>

    <div>
      <a href="/signin/" class="btn btn-secondary">Signin</a>
      <a href="/signup/" class="btn btn-dark">Signup</a>
    </div>
  </section>
</main>

{% endblock %}